DOMAIN=pass.example.org
POSTGRES_DB=phygital_pass
POSTGRES_USER=phygital_app
POSTGRES_PASSWORD=replace-with-a-long-random-password
ORGANIZER_USERNAME=organizer
ORGANIZER_PASSWORD=replace-with-a-different-long-random-password
SESSION_SECRET=replace-with-at-least-32-random-characters
